//////////// COMMENT FORM ///////////////

#comment_form {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 2em;
    width: 50%;
    background-color: $pink-color;
    font-weight: 800;
    text-align: center;
    color: $white-color;
}

::placeholder {
    color: $green-color-shadow;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $green-color-shadow;
}

::-ms-input-placeholder {
    color: $green-color-shadow;
}

.comment-respond {
    margin-top: 1em;
}

.comment-form > p  {
    margin: 10px;
}

input[type=text], input[type=email], textarea {
    width: 85%;
    border-style: solid;
    border-width: 0.05px;
    border-color: $green-color-light;
    background-color: transparent;
    outline: none;
    color: $white-color;
    font-size: large;
}

textarea:focus, input:focus{
    outline: none;
    border-color: $green-color-dark;
}

textarea {
    padding: 10px;
    resize: none;
    border-radius: 1%;
}

input[type=text], input[type=email]  {
    padding: 5px;
    border-radius: 2%;
}

input#submit {
    margin: 5px;
    width: 85%;
    outline: none;
    border: $black-color thin solid;
    padding: 5px 10px;
    border-radius: 1%;
    background-color: $black-color;
    color: $white-color;
}

input#submit:hover {
    background-color: $black-color-lighter;
}

input#submit:focus {
    border: $green-color thin solid;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

#check {
    height: 15px;
    width: 15px;
    border: 1px solid $green-color;
    display: inline-block;
    position: relative;
}

.check-focus {
    border-color: $green-color-dark !important;
}

input[type=checkbox]:checked + #check:before{
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    color: $green-color-light;
}


//////////// COMMENT ///////////////

.comments {
    margin: 0 2em;
}

.comment-list {
    color: $black-color;
}

a.comment-reply-link , a.reply {
    // background-color: $green-color;
    color: $green-color;
    font-size: small;
}

a.comment-reply-link:hover , a.reply:hover {
    color: $green-color-light;
}

.comment-text {
    margin: 10px 0;
}

.single-comment {
    background-color: rgba(207, 207, 207, 0.2);
    border: thin solid $green-color-shadow;
    color: black;
    text-align: justify;
    font-size: medium;
    width: 35em;
    padding: 1.5em;
    margin: 5px;

}

i.fa.icomment {
    font-size: 1em;
    margin: 0 5px;
}

time, .activ-com {
    font-size: small;
    font-style: italic;
}

.container.comments-container {
    width: inherit;
}

.comment.depth-2, .comment.depth-3 {
    margin-left: 70px;
}

img.avatar {
    // padding: 5px;
    margin-top: 5px;
    margin-left: -5px;
}

.comment-not-approved {
    font-style: italic;
    font-size: small;
}