//////////// COMMENT FORM ///////////////

.comment-respond {
    background-color: $pink-color;
    text-align: center;
    color: $text-color;
    h3{
        color: $text-color;
    }
    
    a {
        color: $green-color-dark;
    }
}


@media (max-width: 400px) {
    .comment-respond {
        margin: 2em 0 1em 0;
        padding: 2em 1em 0.5em 1em;
    }
}

@media (max-width: 650px) and (min-width:400px) {
    .comment-respond {
        margin: 2em 2em 1em 2em;
        padding: 2em 1em 0.5em 1em;
    }
}

@media (min-width: 650px) {
    .comment-respond {
        margin: 3em 6.5em 2em 6.5em;
        padding: 3em 4em 2em 4em;
    }
}


// section.comments-list > article {
//     margin-right: 20vw;
// }

// section.comments-list.child-comments > article {
//     margin-right: 0;
// }

::placeholder {
    color: $text-color-lighter;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $text-color-lighter;
}

::-ms-input-placeholder {
    color: $text-color-lighter;
}

.comment-form > p  {
    margin: 10px;
}

input[type=text], input[type=email], textarea {
    width: 85%;
    border-style: solid;
    border-width: 0.05px;
    border-color: $text-color;
    background-color: transparent;
    outline: none;
    color: $black-color;
    font-size: $large-font-size;
}

textarea:focus, input:focus{
    outline: none;
    border-color: $text-color;
}

textarea {
    padding: 10px;
    resize: none;
    border-radius: 1%;
}

input[type=text], input[type=email]  {
    padding: 5px;
    border-radius: 2%;
}

input#submit {
    margin: 5px;
    width: 85%;
    outline: none;
    border: $black-color thin solid;
    padding: 5px 10px;
    border-radius: 1%;
    background-color: $black-color;
    color: $white-color;
}

input#submit:hover {
    background-color: $black-color-lighter2;
}

input#submit:focus {
    border: $text-color thin solid;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

#check {
    height: 15px;
    width: 15px;
    border: 1px solid $text-color;
    display: inline-block;
    position: relative;
}

.check-focus {
    border-color: $black-color !important;
}

input[type=checkbox]:checked + #check:before{
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    color: $text-color;
}


//////////// COMMENT ///////////////

.comments {
    margin: 0 2em;
}

.comment-list {
    color: $black-color;
}

.comment-avatar{
    text-align: center;
}

a.comment-reply-link , a.reply {
    // background-color: $green-color;
    color: $green-color;
    font-size: $small-font-size;
}

a.comment-reply-link:hover , a.reply:hover {
    color: $green-color-light;
}

.comment-text {
    margin: 10px 0;
    font-size: $base-font-size;
}

.single-comment {
    //todo
    background-color: rgba(207, 207, 207, 0.2);
    border: thin solid $green-color-light2;
    color: $black-color;
    text-align: justify;
    font-size: $base-font-size;
    width: 100%;
    margin: 5px;
}


@media (min-width: 200px) and (max-width: 786px){
    .single-comment {
        padding: 1em;
    }
    .comment-text {
        margin: 1px 0;
    }
    .comment.depth-2, .comment.depth-3 {
        margin-left: 20px;
    }
}

@media (min-width: 768px){
    .single-comment {
        padding: 1.5em;
    }
    .comment-text {
        margin: 10px 0;
    }
    .comment.depth-2, .comment.depth-3 {
        margin-left: 70px;
    }
}


i.fa.icomment {
    font-size: $base-font-size;
    margin: 0 5px;
}

time, .activ-com {
    font-size: $small-font-size;
    font-style: italic;
}

.container.comments-container {
    width: inherit;
}

img.avatar {
    // padding: 5px;
    margin-top: 5px;
    margin-left: -5px;
}

.comment-not-approved {
    font-style: italic;
    font-size: $small-font-size;
}

.no-comments {
    margin: 1em 0 4em 0 ;
}

.commentPagination{
    text-align: center;
    margin: 2em 0;
}

.page-numbers {
    margin: 0 0.1em;
}

.page-numbers.current {
    border: thin solid $green-color;
    padding: 0.2em;
    font-size: $large-font-size;
}


///////// RECENT COMMENTS ////////////

.recent-com-div {
    background-color: $pink-color;
    padding: 1em 2.5em;
    margin-top: 1em;
    // margin: 2em;
    h1, h2, h3, h4, h5 {
        color: $text-color;
    }
    a {
        color: $green-color-dark;
    }
}

.recent-com-li {
    list-style-type: none;
    margin: 1.5em 0;
}

.recent-com-avatar {
    margin-right: 1em;
    display: inline-block;
}

.span-larger-text {
    font-size: larger;
}

.green-text {
    color: $green-color;
}


//////////*  COMMENT REPLY  *///////////

#cancel-comment-reply-link {
    margin-left: 10px;
    font-style: italic;
}