body {
    color: $text-color;
    font-size: $base-font-size;
    font-family:$base-font-family;
    font-weight: $base-font-weight;
    line-height: 1.6;
}

.blog-main {
    margin: 0 0 2em 0;
}

@media (min-width: 768px){
    .blog-main {
        padding: 2.5em 2em;
    }
}

@media (min-width: 200px) and (max-width: 768px){
    .blog-main {
        padding: 2.5em 0em;
    }
}


.blog-section {
    margin: 2em 0;
    padding: 2.5em 3em;
    font-size: $large-font-size;
    color: $green-color-dark;
    border: thin $green-color-light2 solid;
    background-color: $grey-color;
    border-radius: 2px;
}

.sidebar {
    margin: 2em 0;
    padding: 1.5em 2em;
    background-color: $grey-color;
    border: thin $green-color-light2 solid;
    border-radius: 2px;
}

#searchsubmit {
    background-color: $black-color;
    color: $white-color;
    width: 100%;
    border: $black-color thin solid;
    outline: none;
}

#searchsubmit:hover {
    background-color: $black-color-lighter2;
}

#searchsubmit:focus {
    border: $green-color thin solid;
    background-color: $black-color-lighter2;
}


.searchform {
    #s {
        color: $black-color;
        margin: 0.5em 0;
        width: 100%;
        font-size: $base-font-size;
    }

    label {
        font-size: $large-font-size;
        color: $green-color;
    }
}

.sidebar-search {
    margin-top: 2em;
    color: $black-color;
}

.sidebar-tags {
    margin-top: 3rem;
    color: $black-color;
    text-align: center;
}

h1 {
    font-size: $xxxlarge-font-size;
    text-shadow: 0 0 0.5px currentColor;
    color: $green-color-dark;
}

h2 {
    font-size: $xxlarge-font-size;
    text-shadow: 0 0 0.5px currentColor;
    color: $green-color-dark;
}

h3 {
    font-size: $xlarge-font-size;
    text-shadow: 0 0 0.5px currentColor;
    color: $green-color-dark;
}

h4 {
    color: $green-color-dark;
    font-size: $large-font-size;
}

h5 {
    font-size: $large-font-size;
    color: $green-color-dark;
}

h6 {
    font-size: $base-font-size;
    color: $green-color-dark;
}

a {
    color: $green-color-dark;
}

b {
    font-weight: bolder;
}

blockquote {
    margin: 0.2em 0;
    border-left: solid 5px $green-color-dark;
    padding: 1em 15px 1em 1em;
    background-color: $header-color;
    
}

blockquote.is-style-large {
    padding: 2em 1.5em !important;
    border-left: none;
    p{ 
        font-size: $xlarge-font-size;
        text-align: center;
    }
}

figure {
    blockquote {
        border-left: none;
    }
}

.wp-block-pullquote{
    padding: 1em 0;
}

.wp-block-pullquote.is-style-default {
    blockquote{
        border-width: 2px 0;
        border-style: solid;
        border-color: inherit;
    }
}

.wp-block-pullquote.is-style-solid-color {
    blockquote{
        background-color: transparent;
    }
}


cite, q {
    font-style: italic;
    font-size: smaller;
}

em {
    font-style: italic;
    font-weight: bold;
}

strong {
    font-weight: bolder;
}

code, tt {
    background-color: $grey-color-darker;
    font-family: $code-font-family;
    font-size: smaller;
    color: $black-color;
    padding: 0.1em 0;
}

hr {
    border-color: $green-color;
    border-width: medium;
    width: 50%;
}

hr.is-style-wide {
    border-width: thin;
    width: 100%;
}


var {
    font-style: italic;
}

address{
    font-style: italic;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}
ul {
    list-style-type: initial;
    margin-left: 1em;
}

ol {
    list-style-type: decimal;
    margin-left: 1em;
}

.wp-block-table.is-style-stripes {
    tr:nth-child(odd){
        background-color: $header-color !important;
    }
}

div.wp-block-button {
    margin: 1em;
}

a:hover, a:focus {
    color: $green-color-light;
    outline: none;
}

a:active, a:visited {
    color: $green-color-light2;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.sectionTitle{
    margin-bottom: 1em;
}


//wp-link-pages
.post-nav-links {
    text-align: center;
    margin: 3em 0;
}

.post-page-numbers.current {
    padding: 0.2em;
    border: thin solid $green-color;
    font-size: $large-font-size;
}

.post-page-numbers {
    margin: 0 0.2em;
}


.pager li>a, .pager li>span {
    border-color: $green-color-light2;
}



////////////// 404 //////////////

.p404 {
    background-color: $pink-color;
    margin: 4em;
    padding: 4em;
    text-align: center;
}

.p404-description{
    margin: 2em;
}

@media (min-width: 768px){
    .p404-description{
        margin: 2em;
    }
}

@media (min-width: 200px){
    .p404-description{
        margin: 2em 0em;
    }
}


////////////// MAIN //////////////

#recent-comments {
    margin: 2em;
    padding: 2.5em 0;
}

#categories-main {
    padding: 1em 2em;
}

.category-img {
    max-width: 100%;
    object-fit: cover;
}

.panel {
    background-color: $grey-color;
    border: thin solid $green-color-light2;
    color: $black-color;
}

.cat-panel {    
    padding: 15px 10px;
    // height: max-content;
}

@mixin categories-img {
    background-size: cover;
    max-width: 100%;
    margin: 5px;
    display: block;
}

@media (min-width: 1200px){
    .cat-panel > .first,
    .cat-panel > .second,
    .cat-panel > .third{
        height: 400px;
    }
}
@media (min-width: 200px) and (max-width: 1200px){
    .cat-panel > .first,
    .cat-panel > .second,
    .cat-panel > .third{
        height: 200px;
        background-position: center;
    }
}

.cat-panel > .first {
    @include categories-img();
    background-image: url(./images/watch.jpg);
    transition: transform 2s;
}

.cat-panel > .second {
    @include categories-img();
    background-image: url(./images/pencil.jpg);
    transition: transform 2s;
}

.cat-panel > .third {
    @include categories-img();
    background-image: url(./images/tea.jpg);
    transition: transform 2s;
}

.cat-panel > .first:hover,
.cat-panel > .second:hover,
.cat-panel > .third:hover
{
    transform: scale(1.05);
}


.cat-panel > .cat-panel-text  {
    position: absolute;
    font-size: $xxlarge-font-size;
    width: calc(100% - 50px);
    padding: 0 0.2em;
    
    text-align: center;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

@media (min-width: 1200px){
    .cat-panel > .cat-panel-text  {
        height: 5em;
        top: 270px;
    }
}

@media (min-width: 200px) and (max-width: 1200px){
    .cat-panel > .cat-panel-text  {
        height: 3em;
        top: 100px;
    }
}


a > .cat-panel {
    color: $black-color;
}

a:hover > .cat-panel{
    text-decoration: none;
    color: $black-color-lighter;
    cursor: pointer;
}


.blog-post-main, 
#comment_form, 
.blog-post, 
.recent-com-div, 
.blog-post-excerpt {
    h1, h2, h3, h4, h5 {
        color: $text-color;
    }
    a {
        color: $green-color-dark;
    }
    a:hover, a:focus {
        color: $green-color-light2;
    }
}


.widget-title {
    font-size: $xlarge-font-size;
    text-shadow: 0 0 0.5px currentColor;
}

.widget {
    margin-bottom: 1.5em;
}


.wp-block-tag-cloud,
.wp-block-calendar,
.wp-block-archives,
.wp-block-categories,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-search,
.wp-block-rss {
    max-width: 500px;
    margin: 1em 0;
    background-color: $grey-color-no-a;
    padding: 1.5em 2em;
    border: thin #7e941e solid;
    border-radius: 2px;    
    font-size: $small-font-size;
    word-wrap: break-word;
    li {
        text-align: start;
    }
    table {
        a {
            color: $green-color-dark;
        }
        tfoot > tr > td {
            text-align: center;
        }
    }
}

.widget,
.wp-block-archives,
.wp-block-rss {
    ul, li {
        list-style: none;
        margin-left: 0;
        // margin-bottom: 1em;
    }
}


.wp-block-rss {
    li {
        margin-bottom: 0.5em;
    }
}

.wp-block-latest-comments,
.wp-block-latest-posts {
    ul, li {
        // list-style: none;
        // margin-left: 0;
        margin-bottom: 1em;
    }
}

.wp-block-embed {
    text-align: center;
}

figure.alignfull{
    iframe {
        width: 100% !important;
        // height: 100% !important;
        height: 36vw;
    }
}

ul.is-grid,
ol.is-grid {
    li{
        padding: 0.5em;
    }
}


.post-text {
    h2, h3, h4, h5 {
        margin-top: 1em;
    }

    p, form {
        margin: 1em 0;
    }

    // label {
    //     display: none;
    //     input {
    //         display: inline-block;
    //     }
    // }

    select, input {
        // margin: 1em 0;
        padding: 0.5em;
        border-style: solid;
        border-width: 0.05px;
        border-color: $text-color;
        background-color: transparent;
        outline: none;
        color: $black-color;
        font-size: $base-font-size;
    }

    button {
        margin: 5px;
        outline: none;
        border: $black-color thin solid;
        padding: 5px 10px;
        border-radius: 1%;
        background-color: $black-color;
        color: $white-color;
    }

    pre {
        // white-space: pre;
        font-family: $code-font-family;
        font-size: smaller;
        background-color: transparent;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        margin: 1em;
        code, tt {
            background-color: $header-color;
        }
    }
}

.page_anc {
    font-style: italic;
}


.wp-block-image .aligncenter>figcaption, 
.wp-block-image .alignleft>figcaption, 
.wp-block-image .alignright>figcaption {
    display: inherit;
}