@mixin text-areas {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2.5em 3em;
}

.blog-main {
    @include text-areas;
}

.blog-section {
    @include text-areas;
    font-size: large;
    color: $black-color;
    border: thin $green-color-light solid;
    background-color: $grey-color;
    border-radius: 2px;
}

.sidebar {
    margin: 3.5em 0;
    padding: 1.5em 2em;
    background-color: $grey-color;
    border: thin $green-color-light solid;
    border-radius: 2px;
}

#searchsubmit {
    background-color: $black-color;
    color: $white-color;
    width: 100%;
    border: $black-color thin solid;
    outline: none;
}

#searchsubmit:hover {
    background-color: $black-color-lighter;
}

#searchsubmit:focus {
    border: $green-color thin solid;
}


.searchform {
    #s {
        color: $black-color;
        margin: 0.5em 0;
        width: 100%;
    }

    label {
        font-size: large;
        color: $green-color;
    }
}

.sidebar-search {
    margin-top: 2em;
    color: $black-color;
}

.sidebar-tags {
    margin-top: 3em;
    color: $black-color;
    text-align: center;
}

h1 {
    font-size: 250%;
    font-weight: 500;
    color: $green-color;
}

h2 {
    font-size: xx-large;
    font-weight: 500;
    color: $green-color;
}

h3 {
    font-size: x-large;
    font-weight: 500;
    color: $green-color;
}

h4 {
    color: $green-color;
    font-weight: 500;
    font-size: medium;
}

h5 {
    font-size: 1.1em;
    font-weight: 500;
    color: $green-color;
}

a {
    color: $green-color;
    font-weight: 400;
}

a:active, a:hover, a:focus {
    color: $green-color-lighter;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

////////////// POST //////////////

.wp-post-image {
    border: thin $green-color-light solid;
    border-radius: 1px;
    padding: 0.2em;
    background-color: $grey-color-darker;
    // margin: 0.5em;
    margin-top: 1.5em;
    
}

.blog-post-meta-main {
    font-size: 1.2em;
}

.thumbmnail-home {
    // transition: transform 2s;
}

.thumbmnail-home:hover {
    // transform: scale(0.95);
}

.post-text-main {
    font-size: large;
}

.post-content-main {
    text-align: center;
}

.blog-post-main {
    @include text-areas;
    background-color: $pink-color;
}

.blog-post-excerpt {
    padding: 2.5em 7em 2.5em 6em;
    margin: 2em 1em 2em 0;
    background-color: $pink-color;

    .blog-excerpt {
        padding: 0 0 0 2em;
    }
}

.post-text {
    h2, h3, h4, h5 {
        margin-top: 1em;
    }
}


////////////// 404 //////////////

.p404 {
    background-color: $pink-color;
    margin: 4em;
    padding: 4em;
    text-align: center;
}

.p404-description{
    margin: 2em;
}


////////////// MAIN //////////////

#recent-comments {
    margin: 2em;
    padding: 2.5em 0;
}

#categories-main {
    padding: 1em 2em;
}

.category-img {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
}

.panel {
    background-color: $grey-color;
    border: thin solid $green-color-shadow;
    color: black;
}

.cat-panel {    
    padding: 15px 10px;
}

@mixin categories-img {
    background-size: cover;
    height: 400px;
    max-width: 100%;
    margin: 5px;
    display: block;
}

.cat-panel > .first {
    @include categories-img();
    background-image: url(./images/notes.jpg);
    filter: opacity(65%);
    transition: transform 2s;
}

.cat-panel > .second {
    @include categories-img();
    background-image: url(./images/bed.jpg);
    filter: opacity(70%);
    transition: transform 2s;
}

.cat-panel > .third {
    @include categories-img();
    background-image: url(./images/outside.jpg);
    filter: opacity(40%);
    transition: transform 2s;
}

.cat-panel > .first:hover,
.cat-panel > .second:hover,
.cat-panel > .third:hover
{
    transform: scale(1.1);
}


.cat-panel > .cat-panel-text  {
    position: absolute;
    font-size: 2em;
    top: 270px;
    width: calc(100% - 50px);
    padding: 0 0.2em;
    height: 5em;
    text-align: center;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


a > .cat-panel {
    color: $black-color;
}

a:hover > .cat-panel{
    text-decoration: none;
    color: $grey-color-darker;
    cursor: pointer;
}

// .read-more {
//     padding: 10px 0;
// }