.blog-post {
    padding: 2em 6em 3em 6em;
    margin: 2em 2em;
    background-color: $pink-color;
    h1, h2, h3, h4, h5 {
        color: $text-color;
    }
    a {
        color: $green-color-dark;
    }
}

@media (min-width: 200px) {
    .blog-post {
        padding: 1em 3em 1em 3em;
    }
}

@media (min-width: 600px) {
    .blog-post {
        padding: 2em 6em 3em 6em;
    }
}

.blog-post-info {
    margin: 1em 0;
}

.post-text {
    margin: 1em 0;
    font-size: $large-font-size;
}

.blog-post-meta {
    //font-size: 1.1em;
    font-size: $large-font-size;
    font-style: italic;
}

.wp-post-image {
    // transition: filter 2s, transform 2s;
    // transition: transform 2s;
    max-width: 100%;
    height: auto;
}

.post-image {
    text-align: center;
}

.post-content {
    text-align: justify;
}

.blog-post-meta-bottom {
    text-align: center;
    font-size: $base-font-size;
    font-style: italic;
    margin: 3em 0 1em 0;
}

.thumbmnail-home img {
    margin: 1.5em 1em 0 0;
    width: 100%;
    height: auto;
}

.blog-excerpt {
    text-align: justify;
    margin: 1.5em 0;
    
    h1, h2, h3, h4, h5 {
        color: $text-color;
    }
    a {
        color: $green-color-dark;
    }
}

.excerpt-tags {
    margin-top: 1em;
}


////////////* GALLERY */////////////
.blocks-gallery-item > figure > a > img:hover {
    filter: saturate(130%);
}


////////////// POST //////////////

@mixin image-border {
    border: thin $green-color-light2 solid;
    padding: 0.2em;
    background-color: $grey-color-darker;
}

.wp-post-image {
    @include image-border;
    // margin: 0.5em;
    margin-top: 1.5em;
    border-radius: 1px;
}


.wp-block-image.is-style-rounded{
    img{
        @include image-border
    }
}  
.wp-block-image.is-style-default{
    img {
        @include image-border;
        border-radius: 1px;
    }
}

figure.wp-block-image {
    margin: auto;
    img {
        width: 100%;
        height: auto;
    }
}

.blocks-gallery-item {
    img {
        @include image-border();
    }
}

.blog-post-meta-main {
    font-size: $large-font-size;
}

.post-text-main {
    font-size: $large-font-size;
}

.post-content-main {
    text-align: center;
}

.blog-post-main {
    margin: 1em 0 2em 0;
    padding: 2.5em 3em;
    background-color: $pink-color;
}

.blog-post-excerpt {
    margin: 2em 1em 2em 0;
    background-color: $pink-color;
}

@media (min-width: 768px){
    .blog-post-excerpt {
        padding: 2.5em 7em 2.5em 6em;
    }
    .blog-site-excerpt {
        margin: 0 ;
    }
}

@media (min-width: 200px){
    .blog-post-excerpt {
        padding: 2.5em 3em 2.5em 3em;
    }
    .blog-site-excerpt {
        margin: 0 2em;
    }
}

.post-text {
    h2, h3, h4, h5 {
        margin-top: 1em;
    }
}