/*_typography.scss*/
body {
    color: $text-color;
    font-size: $base-font-size;
    font-family:$base-font-family;
    font-weight: $base-font-weight;
    line-height: 1.6;
}

a {
    color: $blue-color;
    text-decoration: none;
}

a:visited {
    color: $green-color;
}

a:hover {
    color: $blue-color;
}