/*_typography.scss*/
body {
    color: $text-color;
    font-size: $base-font-size;
    font-family:$title-font-family;
    font-weight: $base-font-weight;
    line-height: 1.6;
}

a {
    color: orangered;
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: rgb(217, 255, 0);
}