/*_variables.scss */

$text-color:  #48413D;
$text-color-lighter:  #645E54;
$title-color: rgb(80, 93, 19);
$header-color: rgba(245, 245, 245, 0.4);
$blue-color: rgb(99, 195, 211);
$white-color: white;
$pink-color: #E8D7BF;
$green-color: #657718;
$green-color-dark: $title-color;
$green-color-light: rgb(154, 180, 37);
$green-color-shadow: rgba(154, 180, 37, 0.5);
$green-color-light2: rgb(126, 148, 30);
$grey-color: rgba(207, 207, 207, 0.2);
$grey-color-no-a: rgb(245, 245, 245);
$grey-color-darker: rgba(215, 215, 215, 0.5);
$black-color: rgb(10, 4, 2);
$black: $black-color;
$black-color-shadow: rgba(5, 2, 1, 0.97);
$black-color-lighter: rgb(70, 60, 58);
$black-color-lighter2: rgb(26, 22, 21);